<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Search Keyword</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: historyList">
        <tr>
            <td data-bind="text: searchDate"></td>
            <td data-bind="text: keyword"></td>
            <td>
                <button class="btn btn-sm btn-danger" data-bind="click: $parent.deleteSearchHistory">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation" class="col-lg-offset-5">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous" data-bind="click: prevLink">
                <span aria-hidden="true">&laquo; Previous</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Next" data-bind="click: nextLink">
                <span aria-hidden="true">&raquo; Next</span>
            </a>
        </li>
    </ul>
</nav>