<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Search Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2016</td>
            <td>Computer</td>
            <td>
                <button class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>2017</td>
            <td>Java</td>
            <td>
                <button class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>