<div>
    <h4 class="text-danger">Annotation:  </h4>
    <ul data-bind="foreach: annotationList" style="list-style: none;">
        <li>
            <a href="#" class="list-group-item-heading" data-bind="click: $parent.goToPostDetail" style="border-color: red; color: red">
                <h4 data-bind="text: postId"></h4>
            </a>
        </li>

        <li class="list-group-item-text" data-bind="text: commentText"></li>
        <li class="badge alert-danger"> Score: <span data-bind="text: commentScore"></span></li>
        <li class="badge alert-danger"> Created Date: <span data-bind="text: commentCreated"></span></li>
        <!--<hr style="border-color:red; color:red" />-->
    </ul>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous" data-bind="click: prevLink">
                <span aria-hidden="true">&laquo; Previous</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Next" data-bind="click: nextLink">
                <span aria-hidden="true">&raquo; Next</span>
            </a>
        </li>
    </ul>
</nav>