<div class="container">
    <div class="list-group">
        <h3 class="list-group-item-heading">Title</h3>
        <span class="badge alert-danger">Score: 14</span>
        <p>Body: Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Mark</a></p>
    </div>
    <div>
        <h4 class="text-danger">Annotation: </h4>
        <textarea rows="7" style="width:100%"></textarea>
        <p align="right"><a href="#" class="btn btn-danger" role="button">Save</a></p>
    </div><hr style="border-color:red; color:red" />
    <div>
        <h4 class="text-danger">Answers:  </h4>
        <p class="list-group-item-text">Answer1 </p>
        <p class="list-group-item-text">Answer2 </p>
        <p class="list-group-item-text">Answer3 </p>
        <p class="list-group-item-text">Answer4 </p>
    </div><hr style="border-color:red; color:red" />
    <div>
        <h4 class="text-danger">Comments:  </h4>
        <p class="list-group-item-text">Comments1 </p>
        <p class="list-group-item-text">Comments2 </p>
        <p class="list-group-item-text">Comments3 </p>
        <p class="list-group-item-text">Comments4 </p>
    </div><hr style="border-color:red; color:red" />
</div>    