<div class="container">
    <div class="list-group">
        <h3 class="list-group-item-heading"  data-bind="text: title">Title</h3>
        <span class="badge alert-danger" data-bind="text: rank">Score:</span>
        <p data-bind="html: body"></p>
        <!--<p><a href="#" class="btn btn-primary" role="button" >Mark</a></p>-->
    </div>
    <div>
        <h4 class="text-danger">Annotation: </h4>
        <textarea rows="7" style="width:100%" data-bind="value: annotationData"></textarea>
        <p align="right"><a href="#" class="btn btn-danger" role="button" data-bind="click: saveAnnotation">Save</a></p>


    </div><hr style="border-color:red; color:red" />
    <div>
        <h4 class="text-danger">Answers: </h4>
        <div data-bind="foreach: PostDetails">
            <p class="list-group-item-text" data-bind="text: score"></p>
            <p class="list-group-item-text" data-bind="html: body"></p>
            <hr style="border-color:red; color:red" />
        </div>
    </div>
</div>    
