<div class="row">
    <div class="col-lg-9 col-lg-offset-3">
        <form class="form-inline search-form">
            <div class="form-group">
                <h1>Search For the Posts</h1>
                <input id="input" />
                <button id="btn">Search</button>

                <div id="output">All the relevant Posts</div>

                <!--<ul data-bind="foreach: data">
        <li data-bind="text: Titel"></li>
        <li data-bind="text: Score"></li>
    </ul>-->
                <!--<pre data-bind="text: ko.toJson($root)"></pre>-->
                <!--Form-->
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <!--<tbody data-bind="foreach: result" id="tbodySearchPosts">
                        <tr>
                            <td data-bind="text: title"></td>
                            <td data-bind="text: score "></td>

                        </tr>
                    </tbody>-->
                </table>
                </div>
        </form>
    </div>
</div>
<ul class="list-group">
    <li><h4 class="list-group-item-heading"><a href="#">Title</a></h4></li>
    <li><p>Description:<br /> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></li>
</ul>
<ul class="list-group">
    <li><h4 class="list-group-item-heading"><a href="#">Title</a></h4></li>
    <li><p>Description:<br /> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></li>
</ul>
<ul class="list-group">
    <li><h4 class="list-group-item-heading"><a href="#">Title</a></h4></li>
    <li><p>Description:<br /> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></li>
</ul>