<div class="row">
    <div class="col-lg-12 col-lg-offset-3">
        <!--<form class="form-inline search-form" >-->
            <div class="form-group">
                <!--<p>Kindly have patience: it will take some time for the data from database </p>-->
                <input id="input" data-bind="value: searchkeyword" placeholder="Enter Search keyword and Click Search" size="50"/>
                <button id="btn" data-bind="click: searchRankPost">Search</button>
                </div>
        </div>
    <div class="col-lg-8">
        <div class="list-group" data-bind="foreach: SearchPostsList">
            <a href="#" class="list-group-item-heading" data-bind="click: $parent.postDetail" style="border-color: red; color: red">
                <h4 data-bind="text: title"></h4>
            </a>
            <div class="badge alert-danger">Score: <span class="badge alert-danger" data-bind="text: rank">Score:</span></div>
            <p data-bind="html: body"></p>
            <hr style="border-color:red; color:red" />
        </div>
        <nav aria-label="Page navigation" class="col-lg-offset-5" data-bind="if: total">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous" data-bind="click: prevLink">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Next" data-bind="click: nextLink">
                        <span aria-hidden="true">&raquo; Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
        <!--</form>-->
        <!--<post-details></post-details>-->
    <div class="col-lg-4">
        <div id="wordcloud" style="width: 400px; height: 350px; position: relative;">
        </div>
    </div>
    </div>
    

